PORT=3020

URI_MONGODB=mongodb://127.0.0.1:27017/AureaRestaurant

JWT_SECRET=GestionRestaurante_ClaveJWT_SuperSegura_32CharsMin_123!
JWT_ISSUER=AuthService.Api
JWT_AUDIENCE=GestorRestaurante.Clients
JWT_EXPIRES_IN=1h

IDENTITY_PROVISIONING_KEY=GestionRestaurante_ClavePrivadaProvisioning_1234567890

NODE_TLS_REJECT_UNAUTHORIZED=0

FRONTEND_URL=http://localhost:5173

SMTP_ENABLED=true
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false

SMTP_USER=loscodiguitos26@gmail.com
SMTP_PASS=....

SMTP_FROM_EMAIL=loscodiguitos26@gmail.com
SMTP_FROM_NAME=Aurea Restaurant