# PostgreSQL
DB_HOST=localhost
DB_PORT=5435
DB_NAME=GestionRestaurante
DB_USER=IN6AM
DB_PASSWORD=GestionRestaurante2026

# JWT
JWT_SECRET=GestionRestaurante_ClaveJWT_SuperSegura_32CharsMin_123!
JWT_ISSUER=AuthService.Api
JWT_AUDIENCE=GestorRestaurante.Clients

# Seeder
AUREA_INITIAL_ADMIN_PASSWORD=Admin1234!

# SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=loscodiguitos26@gmail.com
SMTP_PASS=....

SMTP_FROM_EMAIL=loscodiguitos26@gmail.com
SMTP_FROM_NAME=Aurea Restaurant

SMTP_IGNORE_CERTIFICATE_ERRORS=true

# Restaurant Service
IDENTITY_PROVISIONING_KEY=GestionRestaurante_ClavePrivadaProvisioning_1234567890